/* CSS Document */
body,ul,li,img,a,h1,li,p{
	margin:0;
	padding:0;
	font-size:16px;
	font-family:"微软雅黑";
	list-style:none;
	text-decoration:none;
}
#header{
	position:relative;
}
#banner{
	width:100%;
	z-index:0;
}
#nav{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:45px;
	z-index:1;
}
#nav>ul{
	position:absolute;
	left:36%;
	width:28%;
}
#nav>ul li{
	float:left;
	width:25%;
	text-align:center;
	line-height:45px;
}
#nav>ul li a{
	color:#875d6f;
	font-size:18px;
}
#nav>ul li a:hover{
	color:#704758;
	font-weight:bolder;
}
#nav>ul .active a{
	color:#704758;
	font-weight:bolder;
	border-bottom:2px solid #704758;
	padding-bottom:5px;
}
#info{
	position:absolute;
	top:0;
	right:17%;
	width:15%;
	line-height:45px;
	z-index:6;
	text-align:center;
	color:#fff;
}
#info a{
	color:#fff;
	margin-left:10px;
}
#username{
	width:50px;
	height:45px;
}
#login{
	position:absolute;
	top:0;
	right:0;
	width:100%;
	line-height:45px;
	z-index:2;
	text-align:center;
}
#login span{
	display:inline-block;
	width:64px;
	height:32px;
	border:1px solid #875d6f;
	text-align:center;
}
#login a{
	color:#875d6f;
	line-height:30px;
}
#login a:hover span{
	color:#704758;
	border:1px solid #704758;
}
#slide{
	position:absolute;
	top:0;
	right:20%;
	width:130px;
	background-color:rgba(135,93,111,0.8);
	z-index:5;
	display:none;
}
#slide li{
	margin-left:10px;
	width:110px;
	height:43px;
	text-align:center;
}
#slide li:first-child{
	height:45px;
}
#slide li:nth-child(3){
	border-bottom:1px solid #593e49;
	border-top:1px solid #593e49;
}
#slide a{
	color:#d4d3cb;
	line-height:43px;
	cursor:pointer;
}
#slide a:hover{
	color:#fff;
}
#main{
	margin:0 auto;
	width:980px;
}
#form{
	margin:70px 0 0 108px;;
}
#form input{
	height:30px;
	width:288px;
	margin-bottom:18px;
	font-size:18px;
}
#form textarea{
	width:657px;
	height:435px;
	font-size:18px;
	resize:none;
}
#form table tr td:first-child{
	float:right;
	font-size:18px;
}
#form input[type="submit"]{
	width:90px;
	height:40px;
	background:#e2b7c9;
	border:0;
	cursor:pointer;
	float:right;
	margin-right:150px;
}
#form input[type="submit"]:hover{
	background:#dfa2ac;
}
#form input[type="button"]{
	width:90px;
	height:40px;
	border:0;
	cursor:pointer;
	float:right;
	margin-right:50px;
	background:#fff;
}
#form input[type="button"]:hover{
	border:1px solid #000;
}
